# Ignore video releases folder
video_releases
videos
output

# Exclude data folder except the test subfolder.
data/*
!/data/test

# Ignore virtual env folders
env
*env

# Ignore environment variables like API keys
.env

# Ignore .pyc files
*.pyc

# Ignore video files, just in case something happens.
*.mp4

# Ignore pickle files
*.pickle
*.pkl

# Ignore specific files (for example)
sensitive_info.txt
